<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi App de Amigos{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <style>
        body { font-family: 'Inter', sans-serif; }
    </style>
</head>
<body class="bg-gray-50 text-gray-800 flex flex-col min-h-screen">

    <nav class="bg-indigo-600 text-white shadow-lg">
    <div class="container mx-auto px-4 py-3 flex justify-between items-center">
        <a href="/" class="font-bold text-lg md:text-xl tracking-tight truncate">
            🚀 QuestioningAPP
        </a>
        <div class="flex items-center space-x-3">
            {% if request.session.get("username")%}
             <a href="/logout" class="text-sm bg-gray-500 hover:bg-red-600 text-white px-3 py-2 rounded transition">
            Salir
             </a>

            {%else%}
            <a href="/login"
               class="text-xs md:text-sm bg-indigo-500 hover:bg-indigo-700 text-white px-3 py-2 rounded transition font-medium">
                Ingresar
            </a>
            <a href="/register"
               class="text-xs md:text-sm bg-white text-indigo-600 hover:bg-gray-100 px-3 py-2 rounded transition font-medium border border-transparent">
                Registrarse
            </a>
            {%endif%}
        </div>
    </div>
</nav>

    <main class="flex-grow container mx-auto px-4 py-6">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-gray-900 text-gray-400 py-6 mt-auto">
        <div class="container mx-auto px-4 text-center text-sm">
            <p>&copy; 2025 App developed by Laureano done with FastAPI & Python.</p>
            <p class="text-red-800"> MAX VERSTAPPEN I LOVE U</p>
        </div>
    </footer>

</body>
</html>