{% extends "base.html" %}

{% block title %}Questioning{% endblock %}

{% block content %}
<div class="max-w-md mx-auto text-center mt-10">

 <div class="flex space-x-4 items-center">

    <a href="/question" class="text-sm bg-indigo-600 hover:bg-indigo-800 text-white px-10 py-2 rounded transition ">
        Preguntas
    </a>

    {% if request.session.get("username") %}

        <span class="text-indigo-800 text-italic font-semibold">
            Hola, {{ request.session.username }}
        </span>

    {% else %}

    {% endif %}

</div>

  <ul class="space-y-2">
    {% for usuario in usuarios %}
    <li class="my-2 flex items-center bg-white p-3 rounded-lg shadow-sm border border-gray-100">
        <div class=" m+1 h-8 w-8 rounded-full bg-green-100 text-green-600 flex items-center justify-center font-bold mr-3">
            {{ usuario.username[0] | upper }} </div>
        <div class="flex flex-col ">
            <span class="font-medium text-gray-600">{{ usuario.username }}</span>
        </div>
    </li>
    {% else %}
    <li class="p-3 text-gray-500 italic">No hay amigos registrados aún.</li>
    {% endfor %}
</ul>
<div class="mt-10 pt-8 border-t border-gray-100 text-center max-w-lg mx-auto">

    <p class="text-gray-500 text-sm leading-relaxed mb-6">
        Un espacio social conectar con amigos.
        Comparte preguntas, participa en encuestas dinámicas y descubre
        lo que piensan los demás en tiempo real.
    </p>

    <div class="flex flex-col items-center gap-2 text-xs font-mono text-gray-400">

        <p class="tracking-wide">
            Autor: <span class="text-indigo-500 font-semibold">Laureano Enrique</span>
        </p>

        <p>
            Developed with
            <span class="text-gray-600">Python</span> •
            <span class="text-gray-600">FastAPI</span> •
            <span class="text-gray-600">SQLModel</span> •
            <span class="text-gray-600">Tailwind</span>
        </p>
    </div>

</div>

</div>
{% endblock %}